<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694884663195-cp58n12k4crc7cepbhnltj83ogprb7u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694884663195-cp58n12k4crc7cepbhnltj83ogprb7u9</string>
	<key>API_KEY</key>
	<string>AIzaSyDdA-3of_aLRweqaaGmkyEBJJrKCTtKRmU</string>
	<key>GCM_SENDER_ID</key>
	<string>694884663195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agharinaa.com</string>
	<key>PROJECT_ID</key>
	<string>akarena</string>
	<key>STORAGE_BUCKET</key>
	<string>akarena.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694884663195:ios:f1418b23a812084020eb3e</string>
	<key>DATABASE_URL</key>
	<string>https://akarena-default-rtdb.firebaseio.com</string>
</dict>
</plist>